.arrow{
    position: fixed;
    transform: rotate(-90deg);
    bottom: 10%;
    right: -1rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    & img {
        width: 50%;
        @media (min-width: 768px){
            width: 75%;
        }
        @media (min-width: 1024px){
            width: 100%;
        }
        @media (min-width: 1600px) {
            width: 90%;
        }
    }
    &.active{
        opacity: 1;
        animation: rotate 0.7s ease both;
    }
    @media (min-width: 768px){
        right: 1rem;
    }
    @media (min-width: 1024px){
        right: 1.8rem;
    }
}
@keyframes rotate{
    from{
        transform: rotate(70deg) scale(0.6);
    }
    to{
        transform: rotate(-90deg) scale(1);
        visibility: visible;
    }
}