#equip{
@include sectionProp();
min-height: 40vh;
@include flex(column, center, center);
.equip-header{
    @include h1Prop();
    @include mediaQueriesH1();
}
.blocks{
    position: relative;
    @include flex(column, space-between, center);
    @media (min-width: 768px){
        @include flex(row, space-around, space-around);
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
        .block{
            @include flex(column, space-between, center);
            position: relative;
            margin-top: 2rem;
            width: 80%;
            min-height: 15rem;
            max-height: 15rem;
            box-shadow: 0 0 20px 2px black;
            transition-property: height width;
            max-width: 40rem;
            transition: 0.5s;
            background: rgb(70,24,92);
            background: -moz-radial-gradient(circle, rgba(70,24,92,1) 0%, rgba(0,4,23,0) 100%);
            background: -webkit-radial-gradient(circle, rgba(70,24,92,1) 0%, rgba(0,4,23,0) 100%);
            background: radial-gradient(circle, rgba(70,24,92,1) 0%, rgba(0,4,23,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46185c",endColorstr="#000417",GradientType=1);
            
            &:nth-last-child(1){
                @include flex(column, center, center);
                padding: 0rem;
                .block-info{
                    margin-top: 0rem;
                }
            }
            .block-info{
                display: block;
                text-align: center;
                text-transform: uppercase;
                font-size: 2rem;
                padding: 2rem 0.5rem;
                font-weight: 500;
                @media (min-width: 768px){
                    margin-top: 1.5rem;
                    font-size: 2.2rem;
                    padding: 2rem .7rem;
                }
                @media (min-width: 1024px){
                    margin-top: 2rem;
                    font-size: 2.3rem;
                }
            }
            .fa-caret-down{
                font-size: 3rem;
                transition: .5s;
                transition-property: transform position;
                position: absolute;
                bottom: 0.2rem;
                cursor: pointer;
                padding: 1rem;
                &.active{
                    animation: hideShow 1.5s linear both;
                    transform: rotateZ(180deg);
                    transition: .2s;
                    transition-property: transform position;
                    position: static;
                }
                @media (min-width: 768px){
                    font-size: 3.3rem;
                }
                @media (min-width: 1024px){
                    font-size: 3.5rem;
                    @include focusAnimation();
                }
                @media (min-width: 1300px){
                    font-size: 3.8rem;
                }
                @keyframes hideShow{
                    0%{
                        opacity: 0;
                    }
                    5%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1
                    }
                }
            }

// elementy widoczne po rozsunięciu 
            .more{
                transform: scale(0) skewY(20deg);
                width: 75%;
                transition: 0.5s;
                h2{
                    font-weight: 400;
                    font-size: 1.9rem;
                    margin-bottom: 1rem;
                    @media (min-width: 768px){
                        font-size: 2rem;
                    }
                    @media (min-width: 1024px){
                        font-size: 2.2rem;
                    }
                    @media (min-width: 1300px){
                        font-size: 2.4rem;
                    }
                }
                ul{
                    padding: 0.2rem 0;
                    li{
                        list-style:none;
                        p{
                            font-weight: 300;
                            font-size: 1.7rem;
                            padding: 0.4rem 0rem; 
                            @media (min-width: 768px){
                                font-size: 1.9rem;
                            }
                            @media (min-width: 1024px){
                                font-size: 2.2rem;
                            }
                            @media (min-width: 1300px){
                                font-size: 2.5rem;
                            }
                            
                        }
                    }
                }
             &.active{
               transform: scaleY(1) skewY(0deg);
            }
            }
            @supports (-webkit-touch-callout: none){
                @keyframes showMore {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                        margin-top: 35%;
                    }
                }
            }
            @media (min-width: 768px){
                min-height: 20rem;
                width: 22%;
            }
            &.active{
                min-height: 20rem;
               max-height: 50rem;
            }
        }
    }
}