.footer {
    @include flex(column, center, flex-start);
    width: 100%;
    font-family: $mainFont;
    color: $mainFontColor;
    background-color: #250531;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 1.3rem;
    min-width: 25rem;
    margin-top: 0;
    @media (min-width: 320px) and (orientation: portrait) {
        height: 9rem;
    }

    @media (min-width: 411px) and (orientation: portrait) {
        height: 8rem;
    }

    // large mobile
    @media (min-width: 768px) and (orientation: portrait) {
        height: 10rem;
        font-size: 1.8rem;
        align-items: center;
    }

    @media (min-width: 1024px) {
        height: 15rem;
        font-size: 2.2rem;
        align-items: center;
    }
    @media(min-width: 1240px){
        height: 20rem;
        font-size: 3rem;
    }
    @media (orientation: landscape){
        align-items: center;
    }

    & .list {
        list-style: none;
        transition: 0.2s;
        @media (min-width: 1024px){
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    & .link {
        text-decoration: none;
        color: $mainFontColor;
        font-weight: 400;
        cursor: pointer;
       
    }

    & .copyright {
        font-weight: 300;
        
    }

    & .authors {
        font-weight: 400;
    }
}