.mail-form {
    @include sectionProp();
    margin-bottom: 1vh;

    @media (min-width: 1024px) {
        width: 50%;
    }

    & .question {
        @include h1Prop();
        font-size: 1.8rem;
        text-transform: none;
        font-weight: 300;

        @media (min-width: 320px) and (orientation: portrait) {
            font-size: 2.2rem;
        }

        @media (min-width: 411px) and (orientation: portrait) {
            font-size: 2.5rem;
        }

        // large mobile
        @media (min-width: 768px) and (orientation: portrait) {
            font-size: 4rem;
        }

        @media (min-width: 1024px) {
            font-size: 5rem;
        }
    }

    form {
        @include flex(column, center, center);

        .form-email,
        .form-text {
            width: 80%;
            max-width: 70rem;
            border-style: none;
            color: black;
            background-color: rgb(255, 255, 255);
            text-align: start;
            padding: 1rem;

            @media (orientation: landscape) {
                width: 60%;
            }
        }

        .form-email {
            height: 10vh;
            max-height: 12rem;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            min-height: 8rem;
            outline: none;
        }

        .form-text {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            height: 20vh;
            min-height: 15rem;
            max-height: 30rem;
            resize: none;
            font-family: $mainFont;
           outline: none;
        }

        ::placeholder {
            opacity: 0.5;
        }

        .form-submit {
            @include buttons();
            @include buttonsMedia();
            margin-top: 1rem;
            transition: 0.4s;
            outline: none;
            @media (min-width: 1024px) {

                // for bigger devices
                &:hover {
                    color: black;
                    background-color: $mainFontColor;
                    transform: scale(.9);
                    cursor: pointer;
                }
                &:focus{
                    animation: click 0.4s ease both;
                 }   
                 @keyframes click{
                     0%{
                         transform: scale(1);
                     }
                     50%{
                         transform: scale(.9);
                     }
                     100%{
                         transform: scale(1);
                     }
                 }    
                 
                width: 20rem;
                height: 5.6rem;
                border-radius: 3.0rem;
                font-size: 3.5rem;
            }
        }

    }
}