.gallery {
    @include sectionProp();
    flex-basis: 25%;

    & .h1 {
        @include h1Prop();
        @include mediaQueriesH1();
        margin-bottom: 5rem;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include flex(column, center, center);
        margin: 0 auto;
        transition: 0.5s;

        @media(min-width: 768px) {
            @include flex(row, center, center);
            flex-wrap: wrap;
        }


    }


    .photos .glightbox img {
        width: 100%;
        transition: 0.5s;
        opacity: 1;

        // large mobile
        @media (min-width: 768px) {
            width: 38rem;
        }

        @media (min-width: 768px) and (orientation: portrait) {
            width: 38rem;
        }

        @media (min-width: 1024px) {
            width: 60rem;
            opacity: 0.6;

            &:hover {
                transform: scale(0.9);
                opacity: 1;
            }
        }

        @media (min-width: 1100px) {
            width: 73rem;
            opacity: 0.6;
        }
        @media (min-width: 1310px) {
            width: 54rem;
            opacity: 0.6;
        }
    }

}