.menu {
    .wrap {
        @include flex(column, space-between, center);
        width: 3.5rem;
        height: 3.0rem;
        z-index: 3;
        transition: 0.5s 0.25s;
        margin-right: 1.0rem;
        transition: 0.4s 1s;
        @media (min-width: 320px) and (orientation: portrait) {
            top: 2.1rem;
            margin-right: 2rem;
        }
        
        @media (min-width: 360px) and (orientation: portrait) {
            top: 2.1rem;
            margin-right: 2rem;
        }
        
        @media (min-width: 411px) and (orientation: portrait) {
            top: 1.8rem;
            width: 4.0rem;
            height: 3.5rem;
            margin-right: 3.0rem;
        }
        
        // large mobile
        @media (min-width: 768px) and (orientation: portrait) {
            margin-right: 5.0rem;
            top: 5.3rem;
            width: 6.3rem;
            height: 5.0rem;
        }
        
        @media (min-width: 1024px) and (orientation: portrait) {
            margin-right: 7.0rem;
            top: 6.5rem;
            width: 7.3rem;
            height: 6.7rem;
        }
        
        @media (orientation: landscape) {
            margin-right: 4.0rem;
        }
        
        @media (min-width: 1024px) and(orientation: landscape) {
            width: 7.6rem;
            height: 6.7rem;
        }
    }
    .wrap.active-menu{
        transition: 0.4s 0.2s;
        @include flex(column, center, center);
    }
    .wrap.active {
        transform: scale(.7);
    }
    
    & .one,
    .two,
    .three {
        width: 100%;
        height: 0.3rem;
        border-radius: 10rem;
        background-color: rgba(255, 255, 255, 0.864);
        transition: 0.4s;

        @media (min-width: 768px) and (orientation: portrait) {
            height: 0.3rem;
            border-radius: 15rem;
        }
        
        @media (min-width: 1024px) and (orientation: portrait) {
            height: 0.4rem;
            border-radius: 15rem;
        }
    }
    // click animation
    .one.active-menu{
        opacity: 0;
        transition: 0.4s;
    }
    .two.active-menu{
        transform: rotate(-0.37turn) translateX(-2px);
        transition: 0.4s .2s;
    }
    .three.active-menu{
        transform: rotate(0.37turn) translateX(-2px);
        transition: 0.4s 0.1s;
    }
}