.offer {
    @include sectionProp();
    @include flex(column, center, center);
    width: 100%;
    margin-top: 50px;

    & .h1 {
        @include h1Prop;
        @include mediaQueriesH1;
    }

    & .types {
        @include flex(column, center, center);
        text-align: center;
        width: 100%;

        & .type {
            text-transform: uppercase;
            margin-top: 30px;

            @media (min-width: 768px) {
                font-size: 2rem;
            }

            @media (min-width: 1240px) {
                font-size: 3rem;
            }

            & img {
                width: 20%;

                @media(orientation: landscape) {
                    width: 30%;
                }

                @media (min-width: 768px) {
                    width: 40%;
                }

                @media (min-width: 1240px) {
                    width: 50%;
                }
            }
        }
    }

    & .even {
        @media (orientation: landscape) {
            margin-left: 50%;
        }

        @media (min-width: 768px) {
            margin-left: 50%;
        }
    }

    & .odd {
        @media(orientation: landscape) {
            margin-right: 50%;
        }

        @media (min-width: 768px) {
            margin-right: 50%;
        }
    }
}