* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 9px;
}

@media (min-width: 768px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 7px;
  }
}

body {
  position: relative;
  z-index: -1;
  letter-spacing: 0.8px;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(98vh, black), color-stop(41%, #420957), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 98vh, #420957 41%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#1a1c61", GradientType=1);
  width: 100%;
  height: auto;
  z-index: -10;
  overflow: hidden;
}

.menu .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 3.0rem;
  z-index: 3;
  -webkit-transition: 0.5s 0.25s;
  transition: 0.5s 0.25s;
  margin-right: 1.0rem;
  -webkit-transition: 0.4s 1s;
  transition: 0.4s 1s;
}

@media (min-width: 320px) and (orientation: portrait) {
  .menu .wrap {
    top: 2.1rem;
    margin-right: 2rem;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  .menu .wrap {
    top: 2.1rem;
    margin-right: 2rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .menu .wrap {
    top: 1.8rem;
    width: 4.0rem;
    height: 3.5rem;
    margin-right: 3.0rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .menu .wrap {
    margin-right: 5.0rem;
    top: 5.3rem;
    width: 6.3rem;
    height: 5.0rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .menu .wrap {
    margin-right: 7.0rem;
    top: 6.5rem;
    width: 7.3rem;
    height: 6.7rem;
  }
}

@media (orientation: landscape) {
  .menu .wrap {
    margin-right: 4.0rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .menu .wrap {
    width: 7.6rem;
    height: 6.7rem;
  }
}

.menu .wrap.active-menu {
  -webkit-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .wrap.active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.menu .one,
.menu .two,
.menu .three {
  width: 100%;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.864);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 768px) and (orientation: portrait) {
  .menu .one,
  .menu .two,
  .menu .three {
    height: 0.3rem;
    border-radius: 15rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .menu .one,
  .menu .two,
  .menu .three {
    height: 0.4rem;
    border-radius: 15rem;
  }
}

.menu .one.active-menu {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .two.active-menu {
  -webkit-transform: rotate(-0.37turn) translateX(-2px);
          transform: rotate(-0.37turn) translateX(-2px);
  -webkit-transition: 0.4s .2s;
  transition: 0.4s .2s;
}

.menu .three.active-menu {
  -webkit-transform: rotate(0.37turn) translateX(-2px);
          transform: rotate(0.37turn) translateX(-2px);
  -webkit-transition: 0.4s 0.1s;
  transition: 0.4s 0.1s;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../html&components/img/DISCO.jpg");
  background-position: center bottom;
  background-repeat: repeat;
  background-size: cover;
}

.main-header .components {
  position: relative;
  font-family: "Oswald", sans-serif;
}

.main-header .components .header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  min-height: 5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-header .components .header.active {
  z-index: 3;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.378);
}

@media (min-height: 280px) and (orientation: landscape) {
  .main-header .components .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
}

.main-header .components .header .name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  min-width: 20rem;
  -webkit-transition: 0.5s 0.25s;
  transition: 0.5s 0.25s;
  padding-left: 1rem;
  cursor: pointer;
}

.main-header .components .header .name.active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-header .components .header .name {
    font-size: 3.5rem;
    padding-left: 2.5rem;
  }
}

@media (max-width: 360px) and (orientation: portrait) {
  .main-header .components .header .name {
    left: 2rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .main-header .components .header .name {
    font-size: 4.5rem;
    padding-left: 3rem;
    left: 3rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-header .components .header .name {
    font-size: 7.5rem;
    left: 5rem;
    top: 2.5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .main-header .components .header .name {
    font-size: 9.5rem;
    left: 7rem;
    top: 3rem;
    padding-left: 7rem;
  }
}

@media (orientation: landscape) {
  .main-header .components .header .name {
    padding-left: 6rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .main-header .components .header .name {
    font-size: 8rem;
  }
}

.main-header .components .about-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  left: 2rem;
  min-height: 30rem;
  top: 40vh;
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-header .components .about-intro {
    margin-left: 2.5rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .main-header .components .about-intro {
    margin-left: 3.5rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-header .components .about-intro {
    margin-left: 5.5rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .main-header .components .about-intro {
    margin-left: 8rem;
    width: 50%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .main-header .components .about-intro {
    margin-left: 10rem;
    width: 50%;
  }
}

.main-header .components .about-intro .text-intro {
  width: 50%;
  color: white;
  font-weight: 500;
  font-size: 2.2rem;
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-header .components .about-intro .text-intro {
    font-size: 2.4rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .main-header .components .about-intro .text-intro {
    font-size: 2.7rem;
  }
}

@media (min-width: 411px) and (min-height: 720px) {
  .main-header .components .about-intro .text-intro {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-header .components .about-intro .text-intro {
    font-size: 4rem;
    width: 50rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .main-header .components .about-intro .text-intro {
    width: 80%;
    font-size: 7rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .main-header .components .about-intro .text-intro {
    width: 100%;
    font-size: 6.5rem;
  }
}

.main-header .components .about-intro .about-btn {
  background-color: rgba(0, 0, 0, 0.583);
  width: 14rem;
  min-width: 14rem;
  height: 3.6rem;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Oswald";
  line-height: 1rem;
  margin-top: 2rem;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: black;
  outline: 0;
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-header .components .about-intro .about-btn {
    font-size: 2.3rem;
    width: 13rem;
    height: 3.5rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .main-header .components .about-intro .about-btn {
    width: 15rem;
    height: 4rem;
  }
}

@media (min-width: 411px) and (min-height: 720px) {
  .main-header .components .about-intro .about-btn {
    font-size: 3rem;
    width: 16.5rem;
    height: 4.4rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-header .components .about-intro .about-btn {
    font-size: 4rem;
    width: 27rem;
    height: 7rem;
    border-radius: 4rem;
    border: 1.3px solid white;
  }
}

@media (min-width: 1024px) {
  .main-header .components .about-intro .about-btn {
    font-size: 6rem;
    width: 29rem;
    height: 8rem;
  }
}

.main-header .components .about-intro .about-btn.visible {
  opacity: 1;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.main-header .components .about-intro .about-btn:focus {
  -webkit-animation: click 0.3s ease both;
          animation: click 0.3s ease both;
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes click {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 1024px) {
  .main-header .components .about-intro .about-btn {
    border-radius: 30px;
  }
  .main-header .components .about-intro .about-btn:hover {
    color: black;
    background-color: white;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.main-header .icons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2vh;
  width: 50%;
  max-width: 60rem;
  min-width: 20rem;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .main-header .icons {
    bottom: 3vh;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .main-header .icons {
    bottom: 7vh;
  }
}

.main-header .icons li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .icons img {
  width: 2.8rem;
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-header .icons img {
    width: 3.2rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .main-header .icons img {
    width: 3.5rem;
  }
}

@media (min-width: 414px) and (min-height: 720px) {
  .main-header .icons img {
    width: 3.7rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-header .icons img {
    width: 4.0rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .main-header .icons img {
    width: 6.0rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .main-header .icons img {
    width: 7.0rem;
  }
}

.experience {
  text-align: center;
  margin-bottom: 25vh;
  margin-top: 25vh;
}

.experience .experience-number {
  display: block;
  width: 100%;
  font-size: 8rem;
  font-weight: 600;
  line-height: 0;
  opacity: 0.6;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.experience .experience-number.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.experience .experience-number.unactive {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 360px) and (orientation: portrait) {
  .experience .experience-number {
    font-size: 12rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .experience .experience-number {
    font-size: 14rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .experience .experience-number {
    font-size: 25rem;
  }
}

@media (min-width: 1024px) {
  .experience .experience-number {
    font-size: 30rem;
  }
}

.experience .experience-h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 25rem;
  line-height: 1rem;
}

@media (min-width: 319px) and (orientation: portrait) {
  .experience .experience-h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .experience .experience-h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .experience .experience-h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .experience .experience-h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .experience .experience-h1 {
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
  }
}

.about-me {
  font-family: "Oswald";
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120vh;
}

.about-me .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110vh;
  background-image: url("./../../html&components/img/aboutMe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(10px) contrast(1.1);
          filter: blur(10px) contrast(1.1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.about-me .active {
  -webkit-filter: blur(0px) contrast(1);
          filter: blur(0px) contrast(1);
}

.about-me .h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  min-width: 20rem;
}

@media (min-width: 375px) and (orientation: portrait) {
  .about-me .h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .about-me .h1 {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .about-me .h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .about-me .h1 {
    font-size: 8rem;
  }
}

.about-me .text {
  text-align: justify;
  text-align-last: center;
  word-break: break-all;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
  margin: 1rem 10%;
  min-width: 20rem;
}

@media (min-width: 375px) and (orientation: portrait) {
  .about-me .text {
    font-size: 2.3rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .about-me .text {
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .about-me .text {
    font-size: 2.7rem;
  }
}

@media (min-width: 1024px) {
  .about-me .text {
    font-size: 3rem;
  }
}

.offer {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.offer .h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  min-width: 20rem;
}

@media (min-width: 375px) and (orientation: portrait) {
  .offer .h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .offer .h1 {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .offer .h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .offer .h1 {
    font-size: 8rem;
  }
}

.offer .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.offer .types .type {
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .offer .types .type {
    font-size: 2rem;
  }
}

@media (min-width: 1240px) {
  .offer .types .type {
    font-size: 3rem;
  }
}

.offer .types .type img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 20%;
}

@media (orientation: landscape) {
  .offer .types .type img {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .offer .types .type img {
    width: 40%;
  }
}

@media (min-width: 1240px) {
  .offer .types .type img {
    width: 40%;
  }
}

.offer .even {
  -webkit-transition: 1s 0.5s;
  transition: 1s 0.5s;
  opacity: 0.1;
}

.offer .even.active {
  opacity: 1;
}

@media (orientation: landscape) {
  .offer .even {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 15%;
  }
  .offer .even.active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  .offer .even {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 15%;
  }
  .offer .even.active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.offer .odd {
  -webkit-transition: 1s 0.5s;
  transition: 1s 0.5s;
  opacity: 0.1;
}

.offer .odd.active {
  opacity: 1;
}

@media (orientation: landscape) {
  .offer .odd {
    -webkit-transition: 1s;
    transition: 1s;
    margin-right: 15%;
  }
  .offer .odd.active {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .offer .odd {
    -webkit-transition: 1s;
    transition: 1s;
    margin-right: 15%;
  }
  .offer .odd.active {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.gallery {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.gallery .h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  min-width: 20rem;
  margin-bottom: 5rem;
}

@media (min-width: 375px) and (orientation: portrait) {
  .gallery .h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .gallery .h1 {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .gallery .h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .gallery .h1 {
    font-size: 8rem;
  }
}

.gallery .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .gallery .photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery .photos .glightbox img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

@media (min-width: 768px) {
  .gallery .photos .glightbox img {
    width: 38rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .gallery .photos .glightbox img {
    width: 38rem;
  }
}

@media (min-width: 1024px) {
  .gallery .photos .glightbox img {
    width: 60rem;
    opacity: 0.6;
  }
  .gallery .photos .glightbox img:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
}

@media (min-width: 1100px) {
  .gallery .photos .glightbox img {
    width: 73rem;
    opacity: 0.6;
  }
}

@media (min-width: 1310px) {
  .gallery .photos .glightbox img {
    width: 54rem;
    opacity: 0.6;
  }
}

.gallery .show-more {
  margin-top: 1vh;
  text-align: center;
  font-family: "Oswald";
  font-size: 2rem;
}

.gallery .show-more a {
  display: block;
  letter-spacing: 1px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .gallery .show-more a {
    opacity: 0.8;
  }
  .gallery .show-more a:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 375px) {
  .gallery .show-more {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) {
  .gallery .show-more {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .gallery .show-more {
    font-size: 5rem;
  }
}

@media (min-width: 1240px) {
  .gallery .show-more {
    font-size: 6rem;
  }
}

.contact {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .heading {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  min-width: 20rem;
}

@media (min-width: 375px) and (orientation: portrait) {
  .contact .heading {
    font-size: 4.5rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .contact .heading {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact .heading {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .contact .heading {
    font-size: 8rem;
  }
}

.contact .info {
  text-align: center;
}

@media (min-width: 1024px) {
  .contact .info {
    width: 50%;
    height: 200px;
  }
}

.contact .info .number,
.contact .info .email {
  position: relative;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 319px) and (orientation: portrait) {
  .contact .info .number,
  .contact .info .email {
    font-size: 2.2rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .contact .info .number,
  .contact .info .email {
    font-size: 2.4rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .contact .info .number,
  .contact .info .email {
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact .info .number,
  .contact .info .email {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .contact .info .number,
  .contact .info .email {
    font-size: 4.5rem;
  }
}

.contact .info .icons img {
  margin: 3%;
  width: 3rem;
}

@media (min-width: 319px) and (orientation: portrait) {
  .contact .info .icons img {
    width: 2.2rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .contact .info .icons img {
    width: 3rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .contact .info .icons img {
    width: 3.2rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact .info .icons img {
    width: 6rem;
  }
}

@media (min-width: 1024px) {
  .contact .info .icons img {
    width: 5rem;
    letter-spacing: 0.2rem;
  }
}

.contact .mail-form {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  margin-bottom: 1vh;
}

@media (min-width: 1024px) {
  .contact .mail-form {
    width: 50%;
  }
}

.contact .mail-form .question {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  min-width: 20rem;
  font-size: 1.8rem;
  text-transform: none;
  font-weight: 300;
}

@media (min-width: 320px) and (orientation: portrait) {
  .contact .mail-form .question {
    font-size: 2.2rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .contact .mail-form .question {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact .mail-form .question {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .contact .mail-form .question {
    font-size: 5rem;
  }
}

.contact .mail-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .mail-form form .form-email,
.contact .mail-form form .form-text {
  width: 80%;
  max-width: 70rem;
  border-style: none;
  color: black;
  background-color: white;
  text-align: start;
  padding: 1rem;
}

@media (orientation: landscape) {
  .contact .mail-form form .form-email,
  .contact .mail-form form .form-text {
    width: 60%;
  }
}

.contact .mail-form form .form-email {
  height: 10vh;
  max-height: 12rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  min-height: 8rem;
  outline: none;
}

.contact .mail-form form .form-text {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 20vh;
  min-height: 15rem;
  max-height: 30rem;
  resize: none;
  font-family: "Oswald";
  outline: none;
}

.contact .mail-form form ::-webkit-input-placeholder {
  opacity: 0.5;
}

.contact .mail-form form :-ms-input-placeholder {
  opacity: 0.5;
}

.contact .mail-form form ::-ms-input-placeholder {
  opacity: 0.5;
}

.contact .mail-form form ::placeholder {
  opacity: 0.5;
}

.contact .mail-form form .form-submit {
  background-color: rgba(0, 0, 0, 0.583);
  width: 14rem;
  min-width: 14rem;
  height: 3.6rem;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Oswald";
  line-height: 1rem;
  margin-top: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

@media (min-width: 320px) and (orientation: portrait) {
  .contact .mail-form form .form-submit {
    font-size: 2.3rem;
    width: 13rem;
    height: 3.5rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .contact .mail-form form .form-submit {
    width: 15rem;
    height: 4rem;
  }
}

@media (min-width: 411px) and (min-height: 720px) {
  .contact .mail-form form .form-submit {
    font-size: 3rem;
    width: 16.5rem;
    height: 4.4rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact .mail-form form .form-submit {
    font-size: 4rem;
    width: 27rem;
    height: 7rem;
    border-radius: 4rem;
    border: 1.3px solid white;
  }
}

@media (min-width: 1024px) {
  .contact .mail-form form .form-submit {
    font-size: 6rem;
    width: 29rem;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .contact .mail-form form .form-submit {
    width: 20rem;
    height: 5.6rem;
    border-radius: 3.0rem;
    font-size: 3.5rem;
  }
  .contact .mail-form form .form-submit:hover {
    color: black;
    background-color: white;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    cursor: pointer;
  }
  .contact .mail-form form .form-submit:focus {
    -webkit-animation: click 0.4s ease both;
            animation: click 0.4s ease both;
  }
  @-webkit-keyframes click {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes click {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-family: "Oswald";
  color: white;
  background-color: #0f0015fc;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 1.3rem;
  min-width: 25rem;
}

@media (min-width: 320px) and (orientation: portrait) {
  .footer {
    height: 9rem;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .footer {
    height: 8rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .footer {
    height: 10rem;
    font-size: 1.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    height: 15rem;
    font-size: 2.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1240px) {
  .footer {
    height: 20rem;
    font-size: 3rem;
  }
}

@media (orientation: landscape) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .list {
  list-style: none;
}

.footer .link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.footer .copyright {
  font-weight: 300;
}

.footer .authors {
  font-weight: 400;
}

.arrow {
  position: fixed;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 10%;
  right: -1rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow img {
  width: 50%;
}

@media (min-width: 768px) {
  .arrow img {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .arrow img {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .arrow img {
    width: 90%;
  }
}

.arrow.active {
  opacity: 1;
  -webkit-animation: rotate 0.7s ease both;
          animation: rotate 0.7s ease both;
}

@media (min-width: 768px) {
  .arrow {
    right: 1rem;
  }
}

@media (min-width: 1024px) {
  .arrow {
    right: 1.8rem;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(70deg) scale(0.6);
            transform: rotate(70deg) scale(0.6);
  }
  to {
    -webkit-transform: rotate(-90deg) scale(1);
            transform: rotate(-90deg) scale(1);
    visibility: visible;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(70deg) scale(0.6);
            transform: rotate(70deg) scale(0.6);
  }
  to {
    -webkit-transform: rotate(-90deg) scale(1);
            transform: rotate(-90deg) scale(1);
    visibility: visible;
  }
}
